

body {
    height: 100%;
    background-image: radial-gradient(circle, #5058F2, #F2F2F2);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
}
section {
    width: 60%;
    height: 550px;
    margin: 50px auto;
    border: 2px #9C8BD9 solid;
    background-color: #c3c8e4;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #0000002c;
    flex-wrap: wrap;

}
.container {
    display: inline-block;
    width: 40%;
    height: 70%;
    margin: 30px auto;
    flex-wrap: wrap;
    margin: 0px 0px 60px 10px;
}
.container2 {
    border-radius: 20px;
    display: inline-block;
    text-align: left;
    width: 40%;
    height: 60%;
    margin: 40px 0px 50px 10px; 
    padding: 20px 10px 10px 20px;
    background-color: #F2F2F2;
    color: #2d36df;
    flex-wrap: wrap;
}
.button-group {
    display: block;
}
.botao-link {
    transition: all 0.5s;
    border: 1px #2027a2 solid;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin: 0px 0px 30px 50px;
    background: linear-gradient(180deg, #5058F2 0%, #303AF2 100%);
    background-origin: border-box;
   box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    
}
.botao-link:after {
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .botao-link:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .botao-link:hover:after {
    opacity: 1;
    right: 10px;
  }
section h3, h1 {
    color: #2d36df;
}
@media screen and (min-width: 400px) {
    .container, .container2,.box {
      margin: 1em 2em;
    }
  }
  footer {
    color: #2027a2 ;
  }
